Package: staticmirror
Priority: optional
Section: devel
Maintainer: Muhammad Iqbal <iqbalmineraltown@gmail.com> 
Architecture: all 
Version: 0.8
Description: Template for static mirror repository webpage. View README or visit our project at https://github.com/dyngts/kambinger for more info.
